.form {
    padding: 0;
    margin-top: 120px;
}

@media screen and (max-width:1023px) {
    .form {
        margin-top: 80px;
}
}

@media screen and (max-width:767px) {
    .form {
        margin-top: 60px;
}
}