.intro__subtitle {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(254, 213, 181, 1);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .intro__subtitle {
    text-align: center;
    font-size: 18px;
  }
}
