.form__button {
    font-size: 12px;
    line-height: 1.2;
    width:50%;
    height: 28px;
    font-weight: 600;
    margin: 0 0 0 auto;
    border: none;
    background-color: #000000;
    color: #F2F2F2;
    cursor: pointer;
    transition: opacity .2s;
    font-family: inherit;
}

.form__button:hover {
    opacity: .8;
}

@media screen and (max-width:1023px) {
    .form__button {
        font-size: 10px;
}
}
