.form__items {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1023px) {
    .form__items {
        width: 320px;
}
}

@media screen and (max-width:767px) {
    .form__items {
        width: 300px;
}
}