.cards__item {
  width: 218px;
  margin-right: 80px;
  padding-top: 126px;
}

.cards__item:last-child {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .cards__item {
    margin: 0;
    padding-top: 60px;
  }
}
