.cards__title {
  text-transform: uppercase;
  max-width: 218px;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 30px 0;
}

@media screen and (max-width: 767px) {
  .cards__title {
    margin: 0 0 15px 0;
    font-size: 18px;
  }
}
