.video__title {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 125px;
    left: 70px;
}

@media screen and (max-width:1023px) {
    .video__title {
        top: 70px;
        left: 30px;
}
}

@media screen and (max-width:767px) {
    .video__title {
        font-size: 26px;
        top: 35px;
        left: 15px;
}
}