.people {
  padding-top: 138px;
  max-width: calc(100% - 160px);
  padding-bottom: 126px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .people {
    align-items: center;
    justify-content: center;
    margin: 0 120px;
  }
}

@media screen and (max-width: 767px) {
  .people {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 70px;
    align-items: center;
  }
}
