.people__title {
  max-width: 396px;
  font-size: 30px;
  font-weight: bold;
  padding: 0;
  margin: 40px 0 0 0;
}

@media screen and (max-width: 767px) {
  .people__title {
    max-width: calc(100% - 2*20px);
    text-align: center;
    font-size: 26px;
  }
}
